.artwork {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 85vh;
  padding: 2rem;
}

.artwork--header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem 0rem 0rem 0rem;
}

.artwork--header h1 {
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-family: var(--primaryFont);
}

.artwork--body {
  width: fit-content;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  padding-bottom: 3rem;
}

.mapped--art {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin: 0rem 2rem;
}

#mo {
  margin-top: 0rem !important;
}

.artwork--body::-webkit-scrollbar {
  background-color: transparent;
}

.artwork--body::-webkit-scrollbar-track {
  background-color: transparent;
}

.artwork--body::-webkit-scrollbar-thumb {
  background: #aac4ff;
}

.section--title {
  text-align: center;
  margin: 4rem 0rem 2rem 0rem;
  width: fit-content;
  padding: 0.9rem 1.2rem;
  box-shadow: 4px 4px 8px rgba(36, 3, 3, 0.2);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-size: 18px;
}

.art--body {
  box-shadow: 4px 4px 8px rgba(36, 3, 3, 0.2);
  width: 304px;
  height: 360px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.4rem 2rem;
  position: relative;
  overflow: hidden;
}

.art--content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.art--content > img {
  width: 100%;
  transition: opacity 0.7s 0.3s;
}

.popup-content {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-color: transparent;
}

.modal--window {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  height: fit-content;
  position: relative;
}

.modal--image {
  max-width: 85vw;
  max-height: 85vh;
  border: 10px solid #aac4ff;
}

.close--button {
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 20px;
  background-color: #1b263e;
  background-repeat: no-repeat;
  border: none;
  overflow: hidden;
  outline: none;
  font-size: 24px;
  color: #f4f6fe;
  height: 24px;
  text-align: center;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3px;
}

.enlarge--button {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
}

.map--content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .artwork--bodyContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .artwork--header h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .mapped--art {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 650px) {
  .artwork--header h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }

  .mapped--art {
    grid-template-columns: 1fr;
  }
}

